<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../CSS/style.css" media="screen" />
  <script src="https://kit.fontawesome.com/8c01641dda.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="scripts.js"></script>

  <title>Perfil</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand text-light fw-bold" href="Sobre.html">
        <img src="../Images/logo.png" alt="Bootstrap" width="50" height="50">Saúde Mais
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-light fw-bold" aria-current="page" href="Homepage.html">Página Inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Relatorio.html">Relatório</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="DadosSmart.html">Dados de monitoramento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Perfil.html">Escolha seu perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Sobre.html">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container mt-lg-2 mb-lg-3 pt-lg-4 ps-lg-5 text-dark p-2" id="boasvindas2">
    <div class="row mb-lg-4 mb-3 mt-2">
      <h2 class="text-lg-center">Veja abaixo os dados monitorados pelo seu smartwatch</h2>
    </div>
    <div class="row mb-lg-4 p-lg-4">
      <div class="col">
        <div class="card mt-lg-2 p-lg-2" id="relatoriocard">
          <i class="fa-solid fa-heart text-center" id="icone"></i>
          <div class="card-body text-center">
            <h5 class="card-title">Frequência Cardíaca (bpm)</h5>
            <h3 class="card-text fw-bold" id="frequenciacardica"></h3>
            <div class="text-center mb-lg-1 p-lg-2 mb-lg-4">
              <a href="#" class="btn btn-dark fw-bold fs-lg-6 p-lg-3" id="botaocard">Verificar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mt-lg-2 mt-sm-2 p-2" id="relatoriocard">
          <i class="fa-solid fa-person-walking text-center" id="icone"></i>
          <div class="card-body text-center">
            <h5 class="card-title">Quantidade de passos</h5>
            <h3 class="card-text fw-bold" id="passos"></h3>
            <div class="text-center mb-lg-1 p-lg-2 mb-lg-4">
              <a href="#" class="btn btn-dark fw-bold fs-lg-6 p-lg-3" id="botaopassos">Verificar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-lg-4 p-lg-4 ">
      <div class="col">
        <div class="card mt-lg-2 p-lg-2" id="relatoriocard">
          <i class="fa-solid fa-arrows-turn-to-dots text-center" id="icone"></i>
          <div class="card-body text-center">
            <h5 class="card-title">Distância percorrida </h5>
            <h3 class="card-text fw-bold" id="distancia"></h3>
            <div class="text-center mb-lg-1 p-lg-2 mb-lg-4">
              <a href="#" class="btn btn-dark fw-bold fs-6 p-lg-3" id="botaodist">Verificar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mt-lg-2 mt-sm-2 p-lg-2" id="relatoriocard">
          <i class="fa-solid fa-chart-simple text-center" id="icone"></i>
          <div class="card-body text-center">
            <h5 class="card-title">Calorias gastas no dia</h5>
            <h3 class="card-text fw-bold" id="calorias"></h3>
            <div class="text-center mb-lg-1 p-lg-2 mb-lg-4">
              <a href="#" class="btn btn-dark fw-bold fs-6 p-lg-3" id="botaocal">Verificar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center ms-lg-1 pb-lg-4 ps-3">
      <button type="button" class="btn btn-dark btn-lg text-dark fw-bold ms-lg-3" id="botaorelatorio"> <a class="nav-link active text-light fw-bold" aria-current="page" href="Relatorio.html">Ver Relatório</a></button>
      </div>
      </div>

  </div>



</body>

</html>