<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../CSS/style.css" media="screen" />
  <script src="https://kit.fontawesome.com/8c01641dda.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <title>Relatorio profissional</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand text-light fw-bold" href="Sobre.html">
        <img src="../Images/logo.png" alt="Bootstrap" width="50" height="50">Saúde Mais
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-light fw-bold" aria-current="page" href="Homepage.html">Página Inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Relatorio.html">Relatório</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="DadosSmart.html">Dados de monitoramento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Perfil.html">Escolha seu perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Sobre.html">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-lg-2 mb-lg-3 pt-lg-4 ps-lg-5 text-dark p-2" id="relatorio">
    
    <div class="row mb-lg-4 mb-3 mt-2">
      <h2 class="text-lg-center">Confira o relatório do seu paciente</h2>
    </div>   
      
      <div class="row mb-lg-4 mb-lg-3 mt-lg--2 text-right border-dark me-lg-2 ">
        
        <div class="mb-lg-4">
          <h3>Frequência Cardíaca*: <span id="FCprofissional"></span></h3>
        </div>

        <div class="mb-lg-4">
          <h3>Quantidade de Passos**: <span id="Passosprofissional"></span></h3>
        </div>

        <div class="mb-lg-4">
          <h3>Distância Percorrida**: <span id="Distprofissional"></span></h3>
        </div>

        <div class="mb-lg-4">
          <h3>Calorias gastas**: <span id="Distprofissional"></span></h3>
        </div>
        <div>
          <p> * A frequência cardíaca mostrada acima se refere à última medida obtida.</p>
          <p>** Dados obtidos no dia de hoje a partir das 00:00 hrs</p>
        </div>

      </div>
    </div>
      
      <div class="container mt-lg-2 mb-lg-3 pt-lg-4 ps-lg-5 text-dark p-2" id="relatorio">
      <div class="mb-lg-4">
        <div>
        <h1>Gráficos:</h1>
        </div>
        <div class="mb-lg-4 ms-lg-2">
        <p class="p-lg-2 fw-bold">Abaixo estão os gráficos relativos aos dados do paciente que foram coletados nos últimos 7 dias</p>
      </div>

      <div class="mb-lg-2">
        <div>
        <h2>Frequência cardíaca</h2>
        </div>
        <div>
          <span id="graficoFC"></span>
        </div>      
      </div>

      <div>
        <div class="mb-lg-2">
        <h2>Passos percorridos</h2>
        </div>
        <div>
          <span id="graficoFC"></span>
        </div>      
      </div>

      <div>
        <div class="mb-lg-2">
        <h2>Distância percorrida</h2>
        </div>
        <div>
          <span id="graficoFC"></span>
        </div>      
      </div>

      <div class="mb-lg-2">
        <div>
        <h2>Calorias gastas</h2>
        </div>
        <div>
          <span id="graficoFC"></span>
        </div>      
      </div>
        
        
      </div>
      </div>
  
  

  

</body>

</html>