<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../CSS/style.css" media="screen" />
  <script src="https://kit.fontawesome.com/8c01641dda.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <title>Perfil</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand text-light fw-bold" href="Sobre.html">
        <img src="../Images/logo.png" alt="Bootstrap" width="50" height="50">Saúde Mais
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-light fw-bold" aria-current="page" href="Homepage.html">Página Inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Relatorio.html">Relatório</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="DadosSmart.html">Dados de monitoramento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Perfil.html">Escolha seu perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" href="Sobre.html">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-lg-2 mb-lg-3 pt-lg-4 ps-lg-5 text-dark p-2" id="relatorio">
    <div class="row mb-lg-4 mb-3 mt-2">
      <h2 class="text-lg-center">O Saúde Mais</h2>
    </div>

    <div>
      <div class="row mb-lg-4 mb-3 mt-2 text-right">
        <div class="p-lg-1 mb-lg-3">

          <li class="pb-lg-2 mb-lg-4 mb-3">Nosso objetivo é fornecer os dados monitorados pelo seu Smartwatch de forma simples e descomplicada </li>
          <li class="pb-lg-2 mb-lg-4 mb-3">
            No Saúde Mais também temos uma interface diferenciada para os profissionais da saúde, para que possam ter
            acesso aos dados do Smartwatch dos seus pacientes </li>

          <li class="pb-lg-2 mb-lg-4 mb-3"> Em dados de monitoramento você poderá ver informações sobre frequência cardíaca, quantidade de passos,
            calorias gastas e distância diária percorrida</li>
          <li class="pb-lg-2 mb-lg-4 mb-3">
            No Relatório, você pode ter acesso à informações mais completas sobre sua saúde ou de seu paciente
          </li>
          </ul>
        </div>



      </div>
    </div>


  </div>



</body>

</html>